
.needswork {
	font-weight:bold;
	color:magenta;
	text-transform:uppercase;
}

/* Hilighting for anything that needs to stand out */

.hilite {
  	color:blue;
	font-weight:bold;
}

/* Superscripts */

.superscript {
        vertical-align: super;
	font-size:smaller;
    
}

.warningdiv {
	float:right;
	color:darkgreen;
	font-size:80%;
	margin-top:0em;
	padding-top:0em;
}



body
{
     margin-left:auto; 
     margin-right:auto; 
     margin-bottom:2em;
     padding: 2px 1em 0px 1em;
     max-width:45em;   
     /* Try a new color */
/*     background-color: #E3E3E3;  #E5E5FF; #E9EFF4; #F0F0F0; #CCCCE5; */
/*      background-color: #FFF8F8; */
     background-color: #FEFEFE;
     font-family: helvetica, georgia, verdana, sans-serif;
}

body.calendar {
     max-width:none;
     margin-left:1em;
     margin-right:1em;
}

h1
{
     text-align:center;
     margin-bottom:15px;
}

h3
{
	font-style:italic;
}
div#pretopmatter
{
  
     padding: 0px 0px 15px 0px; 
     background-color: #EDEDED;
     border:solid;
     width: 100%;
     height: 2em;
     text-align: center;
     vertical-align: middle;
  }

div#pretopmatter p
{
     font-size:150%;
     line-height: 2.0em; /* same as div to center */
     font-weight:bold;
     margin:0em;
}

#topmatter
{
    
     padding: 0px 0px 15px 0px; 
}

#logo
{
     background:        url("logo.gif");
     background-repeat: no-repeat;
     height:            140px;
     width:             200px;
     float:             left;
     margin:      0px 2em 0.5em 0px; 
}

#logo:hover
{
       cursor: pointer;
       background-color: #E0E0E0;
}




#noahlogo
{
     background:        url("DSC_2261_140L.gif"); 
/*     background-repeat: no-repeat; */
     background-repeat: repeat;
     background-size: 100%;
     height:            100px;
/*     width:             200px;  */
/*     float:             left;  */
     margin:      0px 2em 0.5em 0px; 
}

#noahlogo:hover
{
       cursor: pointer;
       background-color: #E0E0E0;
}


#topcontent
{
     vertical-align: middle;
/*     margin-left: 30px; */
/*     min-height: 140px; */ /* match height of logo */
       margin-top:0.4em;
       margin-bottom:0.8em;
}

#menubar
{
/*     position: fixed; */
      max-width:       95%; 
     margin-left:auto; 
     margin-right:auto; 
     margin-bottom:0.5em;
     width:fit-content; /* CSS 3 extension may not work */
     border-top:    thin solid #000000;
     border-left: thin solid #000000;
     border-right: thin solid #000000;
     border-bottom: thin solid #000000;
     /* background-color: #E0E0E0; */
/*     padding-left:   230px; */
     font-size: 140%;
     /* set min-width to right thing */
}

#menubar p {
	margin:0px 0px 0px 0px;
        text-align:center;
}

#menubar a.menu_item
{
     color: #909090;
     margin-right: 20px;
     padding-left: 3px;
     padding-right: 3px;
     text-decoration: none;
     border: none;
}

#menubar .here 
{ 
     margin-right: 20px;
     padding-left: 3px;
     padding-right: 3px;
     border-left: thin solid #404040;
     border-right: thin solid #404040;
     background-color: #E0E0E0; 
}


#menubar a.menu_item:visited
{
     color: #909090;
     border: none;
}

#menubar a.menu_item:hover
{
/*     background-color: #E0E0E0; */
     color: blue;
}


#maincontent
{
     /*font-size: large; */
/*     border-bottom: thin solid #000000; */
/*     padding-top: 5ex; */ /*1.5ex;*/ 
     padding-left: 1.5ex;
}

.navlist
{
     list-style-type: none;
}

.navlist a
{
     color: #808080;  /* Grey */
     font-weight: bold;
}

.navlist a:hover
{
     color: #0C0C0C;   /*maroon;*/
}

a
{
    color: blue;
}

a:visited
{
     color: #000099;
}

.code
{
     color: #990066;
     font-family: fixed;
}

.code:visited
{
     color: #550022;
}

.plain_text
{
     max-width: 40em; /*46em;*/ /*650px;*/
     text-align: left;
}

#dogtag
{
     border-top: thin solid #000000;
     margin-top: 20px;
     margin-bottom: 10px;
     position: relative;
     right: 0px;
     font-size: x-small;
}

#screen
{
    position:  fixed;
    /*bottom:    0%; */
    top:         50%;
    height:      50%;
    background:  #000000; 
    width:       100%;
    border:      1px;
    z-index:     100;
    visibility:  hidden;
}

#draw_screen
{
    position:  fixed;
    top:       2%;
    right:     2%;
    float:     right;
}

table
{
     border-collapse: collapse;
}

table th
{
     padding: 0.5em;
}

table td
{
     padding: 0.5em;
}

.due
{
     color: red;
}

a.due:visited
{
     color: maroon;
}

a.code
{
     font-family: courier, fixed;
}

iframe
{
     background-color: #E0E0F0;
}

.notabene
{
     clear: left;
     border: thin solid #000000;
     margin-left: 5em;
     margin-right: 5em;
     padding-left: 5px;
     padding-right: 5px;
     padding-top: 1ex;
}

.church
{
     border-top:  thin solid #000000;
}

.quote_sig
{
     margin-top: 0.5ex;
     margin-left: 24em;
     /*text-align: right;*/
}

.answer
{
     color: purple;
}




table.navlist td
{
/* 	spacing:  0; */ /*  not valid css */ 
        padding:  0 1.5em 1ex 0;
}	


li
{
        margin-top:0.5em;
}



div.toc ol {
    margin-top:0em;
    margin-left:2em;

}

div.toc ol li {
    text-decoration:none;
    font-size:105%;
}

div.toc ol li a {
    text-decoration:none;
}

div.toc ol li a:hover {
    text-decoration:underline;
    background:#EEE;
}

div.toc ol li ol  {
    margin-left:0em;

}

div.toc ol li ol li {
    line-height:1em;
    margin-top:0em;
    font-size:95%;
}



/* -------------------------------------------------------------

                 White papers and homework

     Use smaller fonts appropriate to longer written documents

   ------------------------------------------------------------- */

/* Note: the main content section of homework is also traditionally
   class "plain-text"...so that should have priority over
   styles from .homework */

.whitepaper, .homework {
   font-family:arial;
   font-size:90%
}
.whitepaper pre, .homework pre {margin-left:2em; margin-bottom:em; font-size:125%}

.whitepaper .toc, .homework .toc {font-size:110%}

.whitepaper .emph, .homework .emph {font-weight:bold}

.homework h2 {
/*    text-decoration: underline;  */
    border:solid; 
    text-align:center;
    padding:0.2em;
    
}

code {font-size:110%}


